<launch>

	<arg name="url"/>

	<include file="$(find ip_camera)/launch/ip_camera.launch">
		<arg name="url" value="$(arg url)"/>
	</include>

	<arg name="size"/>

	<include file="$(find tracker)/launch/tracker.launch">
		<arg name="size" value="$(arg size)"/>
	</include>

	<include file="$(find equations)/launch/equations.launch">
	</include>
	
	<include file="$(find distance)/launch/distance.launch">
	</include>
</launch>
